{% extends 'main.html' %}

{% block title %}
Todo items
{% endblock title %}

{% block content %}

<div class="create_new_todo" >
    <a  class="a_todo_create" href="{% url 'new_todo_item' %}" > Create new </a>
</div>

<div class="container" >
    {% for todo in todo_items %}
        <div class="todo_home" >
            <ul class="todo_home_ul" >
                <li class="todo_home_li" ><h3 class="todo_home" ><a  class="todo_home_link" href="{% url 'show_todo_item' todo.id %}" > {{todo.label}} </a></h3></li>
            </ul>
        <div>
    {% endfor %}
</div>
{% endblock content %}