body{
    background-color: #ECECEC;
}

.navbar-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8ce46;
}
  
.li {
    float: left;
}
  
.navbar {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar:hover {
    background-color: #fff;
}

.a_todo_create{
    font-size: large;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: #3673CE;
    margin: 0 auto;
}

.create_new_todo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.workspaces{
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    min-height: 600px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.workspaces ul{
    list-style-type: none;
}

.workspaces li a {
    display: flex;
    justify-content:center;
    margin-bottom: 40px;
}

.workspace{
    
    margin: 10px;

}
.todo_items{
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.todo_completed{
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;

    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

