{% extends 'main.html' %}

{% block title %}
Login
{% endblock title %}


{% block content %}

<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label> Email or Username </label>
        <input type="text" name="email" >
        <label> Password </label>
        <input type="password" name="password" >

        <input type="hidden" name="next" value="{{request.META.HTTP_REFERER}}">

        <button type="submit" > Login </button>
    </form>
</div>

{% endblock content %}